body{
	background-color: #232323;
	margin: 0;
	font-family:  "Montserrat" ,"Avenir";
}

#Container {
     max-width: 600px;
     margin: 20px auto;
}

.square {
	width: 30%;
	background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s; 
 }

h1 {
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected{
	color: white;
  background-color: steelblue;
}

#colorDisplay{
	font-size: 200%; 
}

button{
	border: none;
	background-color: white;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.5s;
	 -webkit-transition: all 0.5s;
	 -moz-transition: all 0.5s;
	 outline: none;
}

button:hover {
  color: white;
  background-color: steelblue;
}

#message {
	display: inline-block;
	width: 20%;
}