* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #383838;
}

body {
  background: #fff19e;
  width: 100%;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 200%;
  margin: 0.5rem 0;
}

.start-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.start-screen .splash-screen {
  width: 300px;
  height: 360px;
  background: #ffd527;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
}

.start-screen.hide {
  display: none;
}

.show-score {
  display: none;
}

.show-score.show {
  display: block;
  font-size: 240%;
  margin: 1rem 0;
}

.button {
  text-align: center;
  width: 100%;
  height: 51px;
  margin: 1rem 0;
}

.button button {
  text-transform: uppercase;
  color: #fff;
  padding: 2.5rem 2.8rem;
  background: #e60944;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

.button button:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.button button:focus {
  outline: 0;
}

.button button.hide {
  opacity: 0;
}

.score-block {
  position: absolute;
  top: 2%;
  right: 2%;
}

.score {
  display: inline-block;
  font-size: 150%;
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.score.add {
  background: #ff7b00;
  color: #fff;
  transform: scale(1.3);
  opacity: 0.8;
}

.game {
  max-width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url('https://svgshare.com/i/8jj.svg') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('https://svgshare.com/i/8iE.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.hole.up .mole {
  top: 0;
}
