*, *:before, *:after {
	box-sizing: border-box;
}
body {
	
	background-attachment: fixed;
	background-size: contain;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	font-size: 12px;
	font-weight: 400;
}

html, body {
	height: 100%;
}

.sdk-row:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.sudoku-bk {
	width: 100%;
	height: 100%;
	padding-top: 70px;
	background:url("sudoku.png") center 0px no-repeat;
}


.sdk-game  {
	width: 100%;
	height: 100%;	
}

.sdk-table {
	max-width: 416px;
	margin: auto;
	display: block;
  	position: relative;
  	border: #AAA solid 2px;
  	border-radius: 6px;
  	font-size: 2em;
  	color: #777;
  	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}

.sdk-table-bk {
	position: absolute; 
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    z-index:1;
}

.sdk-row {
	display: block;
  	position: relative;
  	width: 100%;
  	z-index: 2;
}

.sdk-col {
	width: 11.11%;
	min-height:45px;
	position: relative;
  	float: left;
  	border-color: #CCC;
	border-style: dashed;
	border-width: 2px 2px 0 0;
}

.sdk-row.sdk-border {
	border-bottom: #AAA solid 2px;
}

.sdk-col.sdk-border {
	border-right: #AAA solid 2px;
}

.sdk-table .sdk-row .sdk-col:last-child {
	border-right: none;
}

.sdk-table .sdk-row:first-child .sdk-col, 
.sdk-table .sdk-row:nth-child(4) .sdk-col, 
.sdk-table .sdk-row:nth-child(7) .sdk-col {
	border-top: none;
}

.sdk-row:first-child .sdk-col:nth-child(n+4):nth-child(-n+6),
.sdk-row:nth-child(2) .sdk-col:nth-child(n+4):nth-child(-n+6),
.sdk-row:nth-child(3) .sdk-col:nth-child(n+4):nth-child(-n+6),
.sdk-row:nth-child(7) .sdk-col:nth-child(n+4):nth-child(-n+6),
.sdk-row:nth-child(8) .sdk-col:nth-child(n+4):nth-child(-n+6),
.sdk-row:nth-child(9) .sdk-col:nth-child(n+4):nth-child(-n+6),
.sdk-row:nth-child(4) .sdk-col:nth-child(n+1):nth-child(-n+3),
.sdk-row:nth-child(5) .sdk-col:nth-child(n+1):nth-child(-n+3),
.sdk-row:nth-child(6) .sdk-col:nth-child(n+1):nth-child(-n+3),
.sdk-row:nth-child(4) .sdk-col:nth-child(n+7):nth-child(-n+9),
.sdk-row:nth-child(5) .sdk-col:nth-child(n+7):nth-child(-n+9),
.sdk-row:nth-child(6) .sdk-col:nth-child(n+7):nth-child(-n+9)
 {
background-color: rgba(0,0,0,0.04);
}

.sdk-col.sdk-selected {
	background-color: rgba(100,100,100,0.2) !important;
	-webkit-animation: .8s .1s pulse infinite linear;
  	-moz-animation: .8s .1s pulse infinite linear;
  	-o-animation: .8s .1s pulse infinite linear;
  	animation: .8s .1s pulse infinite linear;
}

@-moz-keyframes pulse{
	40%{ background:rgba(100,100,100,0.04); }
}
@-webkit-keyframes pulse{
	40%{ background:rgba(100,100,100,0.04); }
}
@-o-keyframes pulse {
 	40%{ background:rgba(100,100,100,0.04); }
}
@keyframes pulse {
  	40%{ background:rgba(100,100,100,0.04); }
}

.sdk-solution {
	padding: 4px;
	text-align: center;
}

.sdk-helper {
	background-color: rgba(100,100,100,0.2);
	color: #000;
}
    
    
.sdk-picker {
	max-width: 416px;
	margin: auto;
	margin-top: 50px;
	display: block;
  	position: relative;
	background: #f9f9f9;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin-bottom: 20px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	padding: 20px;
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-ms-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}   

.sdk-btn {
	display: block;
	width: 100%;
	text-align: center;
	padding: 12px 28px;
	border-radius: 3px;
	background: #707070;
	color: rgba(255, 255, 255, 0.9);
	font-size: 2em;
	transition: background .3s ease, color .3s ease;
	text-decoration: none;
	margin-bottom: 5px;
}

.sdk-btn:hover{
	color: rgba(243, 94, 94, 1);
}

.sdk-ans-container {
	max-width: 416px;
	margin: auto;
	margin-top: 10px;
	display: block;
  	position: relative;
}

.sdk-ans-container .sdk-btn {
	display:inline-block;
	width: 11.11%;
	padding: 5px;
}

.sdk-no-show {
	opacity: 0;
}

@media only screen and (max-width: 600px) {
	
	.sdk-table,
	.sdk-ans-container .sdk-btn  {
		font-size: 1.5em;
	}
	
	.sdk-col {
		min-height:36px;
	}
}
