* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #e0e0e0;
}
canvas {
	background: #111;
}
#game-control {
	width: 400px;
	font-size: 32px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#game-control i {
	padding: 10px;
	border: 3px outset #d74b4b;
	color: #222831;
	transition: transform 0.1s;
	border-radius: 3px;
}
#game-control i:hover {
	color: #dcddd8;
	background: #d74b4b;
	cursor: pointer;
}
#game-control i:active {
	transform: scale(1.2, 1.2);
}
#control-items {
	display: none;
}
div#control-items.show {
	display: block;
}
