canvas {
	width: 480px;
	height: 270px;
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

.button-div {
	text-align:center;
	width:480px;
	padding: 2px;
}

.instructions-div {
	max-width: 480px;
	padding: 3px;
}

.important {
	font-size: x-large;
	font-weight: bolder;
	width: 480px;
	height: 270px;
	line-height: 270px;
	text-align: center;
    border:15px solid #d3d3d3;
    background-color: #f1f1f1;
}

.important>span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}